<section id="hero" class="hero-section">
    <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-xl-5 col-lg-6 d-flex flex-column align-items-center">
                <!-- Títulos -->
                <h1 class="hero">PEPNOVA</h1>
                <h3 class="hero">Antimicrobial Peptides Tool</h3>
                <p>Platform for discovering, analyzing, and predicting antimicrobial peptides to support research and
                    development in biomedical fields.</p>
            </div>
        </div>

        <!-- Nueva fila para botón y formulario alineados horizontalmente -->
        <div class="row justify-content-center align-items-center mt-2">
            <div class="row justify-content-center align-items-center ">
                <!-- Opciones de selección de modelos -->
                <div class="col-auto">
                    <form id="prediction-form" class="d-flex flex-column">
                        <!-- Input de texto y botón -->
                        <div class="input-group mb-3">
                            <input type="text" name="sequence" class="form-control form-control-lg"
                                   placeholder="Search by Skills" aria-label="Search by Skills"
                                   aria-describedby="submit-btn"/>
                            <button class="btn btn-primary btn-lg" type="submit" id="submit-btn">Submit</button>
                        </div>
                        <!-- Switches para selección de modelos -->
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="form-check form-switch me-3">
                                    <input class="form-check-input" type="checkbox" id="svmSwitch" name="model"
                                           value="SVM" checked/>
                                    <label class="form-check-label" for="svmSwitch">SVM</label>
                                </div>
                                <div class="form-check form-switch me-3">
                                    <input class="form-check-input" type="checkbox" id="rfSwitch" name="model"
                                           value="RF" checked/>
                                    <label class="form-check-label" for="rfSwitch">Random Forest</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="nnSwitch" name="model"
                                           value="NN" checked/>
                                    <label class="form-check-label" for="nnSwitch">Neural Network</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container align-items-center mt-5">
                <div class="container mt-5">
                    <!-- Encabezado con título y botón -->
                    <div id="results-container">
                        <div class="d-flex align-items-center" style="gap: 10px;">
                            <h2 class="text-center flex-grow-1 mb-0">Prediction Results </h2>
                            <button class="btn btn-outline-light" onclick="downloadQueriesAsExcel()">Dowload</button>
                        </div>
                        <!-- Tabla -->
                        <div class="mt-3">
                            <table id="results-table" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Sequence</th>
                                    <th>NN Probability</th>
                                    <th>RF Probability</th>
                                    <th>SVM Probability</th>
                                    <th>Average Probability</th>
                                    <th>Final Prediction</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- Las filas se añadirán dinámicamente aquí -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Waves SVG -->
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
     preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"/>
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(70, 116, 255, 0.93)"/>
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(70, 116, 255, 0.7)"/>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(70, 116, 255, 0.5)"/>
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(70, 116, 255, 0.3)"/>
    </g>
</svg>


<!-- About Us Section -->
<section id="aboutUs" class="about-us-section py-5">
    <div class="container mt-5">
        <div class="row align-items-center d-flex mt-5">
            <div class="col-md-6 animate-fade-in">
                <h1 class="mb-0">About us</h1>
                <p class="mb-0">Research in the field of antimicrobial peptides by providing a comprehensive and
                    easy-to-use API. Our platform offers access to extensive data, enabling researchers and developers
                    to analyze, predict, and innovate in biomedical sciences.</p>
            </div>
            <div class="col-md-6 text-end animate-fade-in">
                <img src="{{ url_for('static', filename='img/logo_transparent.png') }}" class="img-fluid"
                     alt="logo UDES" style="max-width: 200px;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center d-flex">
            <div class="col-md-6 animate-fade-in">
                <h2>Credits: </h2>
                <br>
                <h3></h3>
            </div>
        </div>
    </div>
</section>




