<section id="hero" class="hero-section">
    <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-xl-5 col-lg-6 d-flex flex-column align-items-center">
                <!-- Títulos -->
                <div class="col-md-7 text-end">
                    <img src="{{ url_for('static', filename='img/LogoPepnova_Blanco.png') }}"
                         class="img-fluid mx-auto d-block"
                         alt="Pepnova Logo"
                         style="max-width: 200px;">
                    <h1 class="hero">PEPNOVA</h1>
                </div>
                <h3 class="hero">Antimicrobial Peptides Tool</h3>
                <p>Platform for discovering, analyzing, and predicting antimicrobial peptides to support research and
                    development in biomedical fields.</p>
            </div>
        </div>

        <!-- Nueva fila para subida de archivos -->
        <div class="row justify-content-center align-items-center mt-2">
            <div class="col-auto">
                <form id="prediction-form" class="d-flex flex-column" enctype="multipart/form-data">
                    <!-- Input de texto con ícono de clip para subir archivo -->
                    <div class="input-group mb-3">
                        <input type="text" name="sequence" class="form-control form-control-lg"
                               placeholder="Search by Skills" aria-label="Search by Skills"
                               aria-describedby="file-upload-btn" id="textInput"/>
                        <input type="file" id="fileInput" name="file" accept=".txt" style="display:none;" />
                        <button class="btn btn-primary" type="button" id="file-upload-btn" onclick="document.getElementById('fileInput').click()">
                            <i class="fas fa-paperclip"></i>
                        </button>
                        <button class="btn btn-primary btn-lg" type="submit" id="submit-btn">Submit</button>
                    </div>
                    <div id="fileIndicator" class="text-success d-none text-white">File loaded successfully!</div>
                    <!-- Switches para selección de modelos -->
                    <div class="mb-3">
                        <div class="d-flex">
                            <div class="form-check form-switch me-3">
                                <input class="form-check-input" type="checkbox" id="svmSwitch" name="model"
                                       value="SVM" checked/>
                                <label class="form-check-label" for="svmSwitch">SVM</label>
                            </div>
                            <div class="form-check form-switch me-3">
                                <input class="form-check-input" type="checkbox" id="rfSwitch" name="model"
                                       value="RF" checked/>
                                <label class="form-check-label" for="rfSwitch">Random Forest</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="nnSwitch" name="model"
                                       value="NN" checked/>
                                <label class="form-check-label" for="nnSwitch">Neural Network</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Resto del código permanece igual -->
        <div class="container align-items-center mt-5 ">
            <div class="container mt-5">
                <div id="results-container">
                    <div class="d-flex align-items-center" style="gap: 10px;">
                        <h2 class="text-center flex-grow-1 mb-0">Prediction Results </h2>
                        <button class="btn btn-outline-light" onclick="downloadQueriesAsExcel()">Download</button>
                    </div>
                    <div class="mt-3">
                        <table id="results-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Sequence</th>
                                <th>NN Probability</th>
                                <th>RF Probability</th>
                                <th>SVM Probability</th>
                                <th>Average Probability</th>
                                <th>Final Prediction</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Las filas se añadirán dinámicamente aquí -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Waves SVG -->
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28"
     preserveAspectRatio="none" shape-rendering="auto">
    <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
    </defs>
    <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(70, 116, 255, 0.93)"></use>
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(70, 116, 255, 0.7)"></use>
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(70, 116, 255, 0.5)"></use>
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(70, 116, 255, 0.3)"></use>
    </g>
</svg>

<!-- About Us Section -->
<section id="aboutUs" class="about-us-section py-5">
    <div class="container mt-5">
        <div class="row align-items-center d-flex mt-5">
            <div class="col-md-6 animate-fade-in">
                <h2 class="mb-3">About Us</h2>
                <p class="lead">Our platform is a Python 3 web application designed to predict antimicrobial peptides
                    (AMPs) using advanced machine learning techniques, including Random Forest, Neural Networks, and
                    Support Vector Machines. The application leverages comprehensive protein sequence descriptors, such
                    as Composition, Transition, and Distribution (CTD), to analyze peptide sequences.</p>
                    <br>
                    <p class="lead" >With improved portability and accuracy compared to similar tools, our system offers researchers the
                    ability to process peptide data, generate meaningful predictions, and optimize models using novel
                    training datasets. Antimicrobial Predictor provides an intuitive interface, robust data management,
                    and downloadable reports, empowering innovation in biomedical research and antimicrobial drug
                    development.</p>
            </div>
            <div class="col-md-6 text-end animate-fade-in">
                <img src="{{ url_for('static', filename='img/logo_transparent.png') }}"
                     class="img-fluid mx-auto d-block"
                     alt="UDES Logo"
                     style="max-width: 400px;">
            </div>
        </div>
    </div>
</section>

<section id="credits">
    <div class="container mt-4">
        <div class="row text-center ">
            <div class="col-12">
                <h3 class="mb-4">Credits</h3>
            </div>

            <div class="col-md-4 mb-3">
                <h4 class="h5">Juanita Trejos Suárez</h4>
                <p class="text-white">PhD(C) en Enfermedades Infecciosas</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4 class="h5">Nydia Paola Rondón Villareal</h4>
                <p class="text-white">PhD en Ingeniería</p>
            </div>
            <div class="col-md-4 mb-3">
                <h4 class="h5">Deisy Yurley Rodríguez Sarmiento</h4>
                <p class="text-white">PhD en Bioquímica</p>
            </div>
            <div class="align-center d-flex justify-content-center align-items-center gap-3">
                <div class="col-md-4 mb-3">
                    <h4 class="h5">Néstor Iván Cardona Pérez</h4>
                    <p class="text-white">PhD en Ciencias Biomédicas</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h4 class="h5">Andrés Reyes Chaparro</h4>
                    <p class="text-white">PhD en Ciencias</p>
                </div>
            </div>
            <div class="align-center d-flex justify-content-center align-items-center gap-3">
                <div class="col-md-4">
                    <h4 class="h5">Jeison Mauricio Delgado González</h4>
                    <p class="text-white">Magíster en Ciencias, Tecnología e Innovación</p>
                </div>
                <div class="col-md-4">
                    <h4 class="h5">Santiago Vera Bustamante</h4>
                    <p class="text-white">Est. Ingeniería de Software</p>
                </div>
            </div>

        </div>
    </div>
</section>





