<nav class="navbar navbar-expand-lg navbar-transparent shadow-none position-relative">
                                                        <div class="container px-0">
                                                           <a class="navbar-brand" href="../index.html"><img src="../assets/images/brand/logo/logo.svg" alt="" /></a>
                                                           <div class="d-flex align-items-center order-lg-3">
                                                              <div class="d-flex align-items-center">
                                                                 <div class="dropdown me-2">
                                                                    <button
                                                                       class="btn btn-light btn-icon rounded-circle d-flex align-items-center bd-theme"
                                                                       type="button"
                                                                       aria-expanded="false"
                                                                       data-bs-toggle="dropdown"
                                                                       aria-label="Toggle theme (auto)">
                                                                    <i class="bi theme-icon-active"></i>
                                                                    <span class="visually-hidden bs-theme-text">Toggle theme</span>
                                                                    </button>
                                                                    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bs-theme-text">
                                                                       <li>
                                                                          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                                                                          <i class="bi theme-icon bi-sun-fill"></i>
                                                                          <span class="ms-2">Light</span>
                                                                          </button>
                                                                       </li>
                                                                       <li>
                                                                          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                                                                          <i class="bi theme-icon bi-moon-stars-fill"></i>
                                                                          <span class="ms-2">Dark</span>
                                                                          </button>
                                                                       </li>
                                                                       <li>
                                                                          <button
                                                                             type="button"
                                                                             class="dropdown-item d-flex align-items-center active"
                                                                             data-bs-theme-value="auto"
                                                                             aria-pressed="true">
                                                                          <i class="bi theme-icon bi-circle-half"></i>
                                                                          <span class="ms-2">Auto</span>
                                                                          </button>
                                                                       </li>
                                                                    </ul>
                                                                 </div>
                                                                 <a href="https://themes.getbootstrap.com/product/geeks-academy-admin-template/" class="btn btn-primary">Buy Now</a>
                                                              </div>
                                                              <div>
                                                                 <button
                                                                    class="navbar-toggler collapsed"
                                                                    type="button"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#navbar-default3"
                                                                    aria-controls="navbar-default3"
                                                                    aria-expanded="false"
                                                                    aria-label="Toggle navigation">
                                                                 <span class="icon-bar top-bar mt-0"></span>
                                                                 <span class="icon-bar middle-bar"></span>
                                                                 <span class="icon-bar bottom-bar"></span>
                                                                 </button>
                                                              </div>
                                                           </div>
                                                           <!-- Button -->
                                                           <!-- Collapse -->
                                                           <div class="collapse navbar-collapse" id="navbar-default3">
                                                              <ul class="navbar-nav">
                                                                 <li class="nav-item">
                                                                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                                                                 </li>
                                                                 <li class="nav-item">
                                                                    <a class="nav-link" href="#">Link</a>
                                                                 </li>
                                                                 <li class="nav-item dropdown">
                                                                    <a
                                                                       class="nav-link dropdown-toggle"
                                                                       href="#"
                                                                       id="navbarDropdown"
                                                                       data-bs-toggle="dropdown"
                                                                       aria-haspopup="true"
                                                                       aria-expanded="false"
                                                                       data-bs-display="static">
                                                                    Dropdown
                                                                    </a>
                                                                    <ul class="dropdown-menu dropdown-menu-arrow" aria-labelledby="navbarDropdown">
                                                                       <li class="dropdown-submenu dropend">
                                                                          <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#">Dropdown</a>
                                                                          <ul class="dropdown-menu">
                                                                             <li>
                                                                                <a class="dropdown-item" href="../pages/course-category.html">Action Link</a>
                                                                             </li>
                                                                             <li>
                                                                                <a href="#!" class="dropdown-item">Anthor Action</a>
                                                                             </li>
                                                                             <li>
                                                                                <a href="#!" class="dropdown-item">Something else here</a>
                                                                             </li>
                                                                          </ul>
                                                                       </li>
                                                                       <li>
                                                                          <a href="#!" class="dropdown-item">Action Link</a>
                                                                       </li>
                                                                       <li>
                                                                          <a href="#!" class="dropdown-item">Anthor Action</a>
                                                                       </li>
                                                                       <li>
                                                                          <a href="#!" class="dropdown-item">Something else here</a>
                                                                       </li>
                                                                    </ul>
                                                                 </li>
                                                              </ul>
                                                           </div>
                                                        </div>
                                                     </nav>