<header id="header" class="fixed-top">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center">
                <a href="" class="logo mr-auto" style="display: flex; align-items: center;">
                    <img src="static/img/logo.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                    <img src="static/img/LogoPepnova.png" alt="Logo" style="height: 40px; margin-right: 10px;">
                </a>
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="#hero">Home</a></li>
                        <li><a href="#aboutUs">About us</a></li>
                    </ul>
                </nav><!-- .nav-menu -->
                <button type="button" class="mobile-nav-toggle ml-auto d-lg-none"><i class="fas fa-bars"></i></button>
            </div>
        </div>
    </div>
</header>
